@media screen and (min-width: 601px) {   
    img{
    	width:40%;
    } 
    .taskimg
    {
        width:80%;
    }

.selected {
    border: 2px solid rgb(226, 74, 74);
}
}
@media screen and (max-width: 600px) {   
    img{
    	width:20%;
    } 

.selected {
    border: 2px solid rgb(226, 74, 74);
}
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }

  .disabledClick{
    pointer-events:none;
  }

  .datadescription{
    height: 100%;
    max-height: 450px;
    overflow: auto;
  }